

[submodule "examples/rails8-simple"]
	path = examples/rails8-simple
	url = https://github.com/magenticmarketactualskill/rails8-simple.git
[submodule "tree-meta"]
	path = tree-meta
	url = https://github.com/magenticmarketactualskill/tree-meta.git
