[submodule "examples/rails/rails8-juris"]
	path = examples/rails/rails8-juris
	url = https://github.com/magenticmarketactualskill/rails8-juris.git

[submodule "examples/rails/simple"]
	path = examples/rails/simple
	url = https://github.com/magenticmarketactualskill/simple.git

[submodule "examples/rails/rails8-simple"]
	path = examples/rails/rails8-simple
	url = https://github.com/magenticmarketactualskill/rails8-simple.git
